@import "../abstracts/variables";

.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  main {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
  }
}
